<h1>Travel*alone</h1>
<p>一人だって楽しく旅行に行ける！</p>

<div class="contents row">
  <% @posts.each do |post| %>
 <div class="contents row">
  <div class="success">
    <h3>削除が完了しました。</h3>
    <a class="btn" href="/">投稿一覧へ戻る</a>
  </div>
</div>
  <% end %>
</div>